/*  1.  */
h1 em {
    color: red;
}

/*  2.  */
div p a[href] {
    color: black;
}

/*  3.  */
div#ultimo ul {
    color: yellow;
}

div#ultimo a {
    color: blue;
}

/*  4.  */
div #importante {
    color: green;
}

h1 #importante {
    color: green;
}

/*  5.  */
h1[title] {
    color: blue;
}

/*  6.  */
ol a {
    color: blue;
}

ol a:visited {
    color: violet;
    text-decoration: none;
}